
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .text_hover {
     @apply hover:text-base-content transition-colors duration-300 ease-in-out
    }

    .icon_hover {
        @apply hover:text-base-content hover:bg-base-content/20 p-2 rounded-full transition-all duration-300 ease-in-out
    }

   
}


 input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

